@font-face {
	font-family: "Muller";
	src: url("/fonts/Muller-ExtraBold/Muller-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/fonts/Muller-ExtraBold/Muller-ExtraBold.woff") format("woff"), url("/fonts/Muller-ExtraBold/Muller-ExtraBold.ttf") format("truetype");
	font-weight: 800;
}

@font-face {
	font-family: "Muller";
  src: url("/fonts/Muller-Bold/Muller-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Muller-Bold/Muller-Bold.woff") format("woff"), url("/fonts/Muller-Bold/Muller-Bold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
	font-family: "Muller";
  src: url("/fonts/Muller-Regular/Muller-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Muller-Regular/Muller-Regular.woff") format("woff"), url("/fonts/Muller-Regular/Muller-Regular.ttf") format("truetype");
  font-weight: 400;
}

html,
body {
	overflow: hidden;
}

body {
	position: relative;
	min-width: 320px;
	height: 100vh;
	padding: 0;
	margin: 0;
	font-family: "Muller", serif;
	background-image: -webkit-linear-gradient(313deg, #f5f9fa, #e2f7fb);
	background-image: -o-linear-gradient(313deg, #f5f9fa, #e2f7fb);
	background-image: linear-gradient(137deg, #f5f9fa, #e2f7fb);
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

section {
	position: relative;
}

h1, h2 {
	display: block;
	margin: 0;
	font-family: "Muller";
}

h1 {
	font-size: 56px;
	line-height: 64px;
	font-weight: 800;
	color: #47525b;
}

@media (max-width: 1499.98px) {
	h1 {
		font-size: 42px;
		line-height: 48px;
	}
}

h2 {
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
	color: #65717a;
}

@media (max-width: 1499.98px) {
	h2 {
		font-size: 15px;
		line-height: 30px;
	}
}

a {
	display: inline-block;
	outline: none !important;
	text-decoration: none;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	cursor: pointer;
}

a:hover, a:focus, a:active {
	text-decoration: none;
}

.header {
	display: block;
	max-width: 1010px;
	height: 160px;
	padding: 40px 68px 68px 13.13vw;
	background-color: #fff;
	opacity: 0;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: opacity .35s ease-out, -webkit-transform .5s ease-out;
	transition: opacity .35s ease-out, -webkit-transform .5s ease-out;
	-o-transition: transform .5s ease-out, opacity .35s ease-out;
	transition: transform .5s ease-out, opacity .35s ease-out;
	transition: transform .5s ease-out, opacity .35s ease-out, -webkit-transform .5s ease-out;
}

.header.translate {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.header.visible {
	opacity: 1;
}

.header__link {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.header__link a:hover, .header__link a:active, .header__link a:focus {
	color: #16d550;
}

.header__logo {
	display: block;
	width: 178px;
	height: 52px;
	margin-right: 102px;
}

.header__logo img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: 50% 50%;
	object-position: 50% 50%;
}

.header__phone, .header__email {
	display: block;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #2f3a43;
}

.header__phone {
	margin-right: 68px;
}

@media (max-width: 1499.98px) {
	.header {
		max-width: 674px;
		height: 120px;
		padding: 30px 32px 50px 6.25vw;
	}

	.header__logo {
		width: 133px;
		height: 39px;
		margin-right: 84px;
	}

	.header__phone, .header__email {
		font-size: 16px;
		line-height: 18px;
	}

	.header__phone {
		margin-right: 32px;
	}
}

.main {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: -webkit-calc(100vh - 304px);
	height: calc(100vh - 304px);
	padding-left: 13.13vw;
}

.main__block {
	position: relative;
	display: block;
	z-index: 5;
}

.main__behance-logo {
	position: absolute;
	bottom: 0;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	opacity: 0;
	-webkit-transition: opacity .7s ease-out, -webkit-transform .9s ease-out;
	transition: opacity .7s ease-out, -webkit-transform .9s ease-out;
	-o-transition: transform .9s ease-out, opacity .7s ease-out;
	transition: transform .9s ease-out, opacity .7s ease-out;
	transition: transform .9s ease-out, opacity .7s ease-out, -webkit-transform .9s ease-out;
}

.main__behance-logo.translate {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.main__behance-logo.visible {
	opacity: 1;
}

@media (max-width: 1499.98px) {
	.main {
		height: -webkit-calc(100vh - 224px);
		height: calc(100vh - 224px);
		padding-left: 6.25vw;
	}
}

.main-block__title {
	display: block;
	margin-bottom: 24px;
}

.main-block__subtitle {
	display: block;
	margin-bottom: 20px;
}

.main-block__wrap {
	display: block;
	height: 64px;
	max-width: 624px;
	overflow-y: hidden;
}

.main-block__wrap_subtitle {
	height: 72px;
}

.main-block__title-part {
	-webkit-transform: translateY(64px);
	-ms-transform: translateY(64px);
	transform: translateY(64px);
	opacity: 1;
	-webkit-transition: opacity .35s ease-out, -webkit-transform .5s ease-out;
	transition: opacity .35s ease-out, -webkit-transform .5s ease-out;
	-o-transition: transform .5s ease-out, opacity .35s ease-out;
	transition: transform .5s ease-out, opacity .35s ease-out;
	transition: transform .5s ease-out, opacity .35s ease-out, -webkit-transform .5s ease-out;
}

.main-block__title-part.translate {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.main-block__title-part.visible {
	opacity: 1;
}

.main-block__subtitle-part {
	-webkit-transform: translateY(72px);
	-ms-transform: translateY(72px);
	transform: translateY(72px);
	opacity: 1;
	-webkit-transition: opacity .35s ease-out, -webkit-transform .5s ease-out;
	transition: opacity .35s ease-out, -webkit-transform .5s ease-out;
	-o-transition: transform .5s ease-out, opacity .35s ease-out;
	transition: transform .5s ease-out, opacity .35s ease-out;
	transition: transform .5s ease-out, opacity .35s ease-out, -webkit-transform .5s ease-out;
}

.main-block__subtitle-part.translate {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.main-block__subtitle-part.visible {
	opacity: 1;
}

.main-block__container-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 360px;
	margin-left: -20px;
	padding-left: 20px;
	height: 96px;
	overflow: hidden;
}

.main-block__container {
	display: block;
	width: 312px;
	height: 56px;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateY(64px);
	-ms-transform: translateY(64px);
	transform: translateY(64px);
	opacity: 0;
	-webkit-transition: opacity .35s ease-out, -webkit-transform .5s ease-out;
	transition: opacity .35s ease-out, -webkit-transform .5s ease-out;
	-o-transition: transform .5s ease-out, opacity .35s ease-out;
	transition: transform .5s ease-out, opacity .35s ease-out;
	transition: transform .5s ease-out, opacity .35s ease-out, -webkit-transform .5s ease-out;
}

.main-block__container.translate {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.main-block__container.visible {
	opacity: 1;
}

.main-block__link {
	position: relative;
	width: 312px;
	height: 56px;
	-webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.main-block__shadow {
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 8px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	display: block;
	width: 296px;
	height: 56px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 12px 27px 0 rgba(21, 163, 64, 0.52);
	box-shadow: 0 12px 27px 0 rgba(21, 163, 64, 0.52);
}

.main-block__download {
	position: relative;
	z-index: 5;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 312px;
	height: 56px;
	padding: 0 17px;
	background-color: #16d550;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.main-block__download:hover, .main-block__download:focus {
	background-color: #16d04e;
}

.main-block__download img, .main-block__download svg {
	display: block;
	width: 24px;
	height: 24px;
}

.main-block__download span {
	display: block;
	font-size: 18px;
	line-height: 1;
	font-weight: 400;
	color: #fff;
}

@media (max-width: 1499.98px) {
	.main-block__wrap {
		height: 48px;
		max-width: 450px;
	}

	.main-block__wrap_subtitle {
		height: 60px;
	}

	.main-block__subtitle {
		margin-bottom: 0;
	}
}

.behance-logo {
	position: absolute;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 160px;
	height: 160px;
	background-color: #ffffff;
}

.behance-logo svg path {
	-webkit-transition: fill .2s ease-in;
	-o-transition: fill .2s ease-in;
	transition: fill .2s ease-in;
}

.behance-logo svg:first-child {
	position: absolute;
	top: 27px;
	right: 27px;
	display: block;
	width: 9px;
	height: 9px;
}

.behance-logo svg:last-child {
	display: block;
	width: 32px;
	height: 20px;
}

.behance-logo:hover svg path {
	fill: #0057ff;
}

@media (max-width: 1499.98px) {
	.behance-logo {
		width: 120px;
		height: 120px;
	}

	.behance-logo svg:first-child {
		top: 10px;
		right: 10px;
	}
}

.aside {
	position: absolute;
	right: 0;
	top: -11.06vh;
	display: block;
	width: 31.67vw;
	height: 100%;
}

.aside__container {
	position: relative;
	z-index: 2;
	display: block;
	width: 100%;
	height: auto;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.aside__container::before {
	content: '';
	float: left;
	padding-bottom: 166.25%;
}

.aside__container::after {
	content: '';
	display: table;
	clear: both;
}

.aside__circle {
	position: absolute;
	z-index: 1;
	top: 19.1%;
	left: -20%;
	display: block;
	width: 165%;
	height: 99.25%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #16d550;
	opacity: 0;
	-webkit-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
	-webkit-transition: opacity .5s linear, -webkit-transform 1.1s linear;
	transition: opacity .5s linear, -webkit-transform 1.1s linear;
	-o-transition: transform 1.1s linear, opacity .5s linear;
	transition: transform 1.1s linear, opacity .5s linear;
	transition: transform 1.1s linear, opacity .5s linear, -webkit-transform 1.1s linear;
}

.aside__circle::before {
	content: '';
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 37%;
	height: 37%;
	background-image: -webkit-linear-gradient(313deg, #f5f9fa, #e2f7fb);
	background-image: -o-linear-gradient(313deg, #f5f9fa, #e2f7fb);
	background-image: linear-gradient(137deg, #f5f9fa, #e2f7fb);
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.aside__circle.translate {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

.aside__circle.visible {
	opacity: 1;
}

.aside.translate::before {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.aside.visible::before {
	opacity: 1;
}

.aside__phone {
	position: absolute;
	z-index: 2;
	display: block;
	width: 65.46%;
	opacity: 0;
	-webkit-transition: opacity .5s linear, -webkit-transform 1.1s linear;
	transition: opacity .5s linear, -webkit-transform 1.1s linear;
	-o-transition: transform 1.1s linear, opacity .5s linear;
	transition: transform 1.1s linear, opacity .5s linear;
	transition: transform 1.1s linear, opacity .5s linear, -webkit-transform 1.1s linear;
}

.aside__phone.translate {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.aside__phone.visible {
	opacity: 1;
}

.aside__phone_krymland {
	left: -4.4%;
	top: -16.7%;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.aside__phone_sakropol {
	left: -4.4%;
	top: 54.02%;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.aside__phone_akkond {
	left: 55.87%;
	top: 14.26%;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}

.aside__phone_smu {
	left: 55.87%;
	top: 85.02%;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}

.aside__phone_monolit {
	left: 116.07%;
	top: 53.93%;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
}

.aside__wrap {
	position: relative;
	width: 100%;
	height: auto;
}

.aside__wrap::before {
	content: '';
	float: left;
	padding-bottom: 183.9196%;
}

.aside__wrap::after {
	content: '';
	display: table;
	clear: both;
}

.aside__wrap img:first-child {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.aside__wrap img:last-child {
	position: absolute;
	z-index: 1;
	top: 2.17%;
	left: 8.29%;
	display: block;
	width: 75.38%;
	height: 88.66%;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}

@media (max-width: 1499.98px) {
	.aside {
		top: -14.06%;
		width: 34.67vw;
	}

	.aside__phone {
		width: 68%;
	}

	.aside__phone_krymland {
		top: -16.05%;
		left: -5.9%;
	}

	.aside__phone_sakropol {
		top: 56.4%;
		left: -5.9%;
	}

	.aside__phone_akkond {
		top: 15.66%;
		left: 55.87%;
	}

	.aside__phone_smu {
		top: 88.25%;
		left: 55.87%;
	}

	.aside__phone_monolit {
		top: 56.25%;
		left: 118%;
	}
}

@media (max-width: 1279.98px) {
	.aside {
		top: -12.06%;
		right: -20.29%;
		width: 40.67vw;
	}

	.aside__phone {
		width: 72%;
	}

	.aside__phone_krymland {
		top: -22.05%;
		left: -3.9%;
	}

	.aside__phone_sakropol {
		left: -3.9%;
		top: 55.4%;
	}

	.aside__phone_akkond {
		left: 61.87%;
		top: 11.66%;
	}

	.aside__phone_smu {
		left: 61.87%;
		top: 89.25%;
	}

	.aside__phone_monolit {
		display: none;
		top: 56.25%;
		left: 118%;
	}
}
