@font-face {
	font-family: "Muller";
	src: url("/fonts/Muller-ExtraBold/Muller-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/fonts/Muller-ExtraBold/Muller-ExtraBold.woff") format("woff"), url("/fonts/Muller-ExtraBold/Muller-ExtraBold.ttf") format("truetype");
	font-weight: 800;
}

@font-face {
	font-family: "Muller";
  src: url("/fonts/Muller-Bold/Muller-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Muller-Bold/Muller-Bold.woff") format("woff"), url("/fonts/Muller-Bold/Muller-Bold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
	font-family: "Muller";
  src: url("/fonts/Muller-Regular/Muller-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Muller-Regular/Muller-Regular.woff") format("woff"), url("/fonts/Muller-Regular/Muller-Regular.ttf") format("truetype");
  font-weight: 400;
}

html,
body {
	overflow: hidden;
}

body {
	position: relative;
	min-width: 320px;
	height: 100vh;
	padding: 0;
	margin: 0;
	font-family: "Muller", serif;
	background-image: -webkit-linear-gradient(313deg, #f5f9fa, #e2f7fb);
	background-image: -o-linear-gradient(313deg, #f5f9fa, #e2f7fb);
	background-image: linear-gradient(137deg, #f5f9fa, #e2f7fb);
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

section {
	position: relative;
}

h1, h2 {
	display: block;
	margin: 0;
	font-family: "Muller";
}

h1 {
	font-size: 56px;
	line-height: 64px;
	font-weight: 800;
	color: #47525b;
}

h2 {
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
	color: #65717a;
}

a {
	display: inline-block;
	outline: none !important;
	text-decoration: none;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	cursor: pointer;
}

a:hover, a:focus, a:active {
	text-decoration: none;
}

.header {
	display: block;
	width: 1010px;
	height: 160px;
	padding: 40px 68px 68px 13.13vw;
	background-color: #fff;
}

.header__wrap {
	overflow: hidden;
}

.header__link {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	opacity: 1;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: opacity .35s ease-out, -webkit-transform .5s ease-out;
	transition: opacity .35s ease-out, -webkit-transform .5s ease-out;
	-o-transition: transform .5s ease-out, opacity .35s ease-out;
	transition: transform .5s ease-out, opacity .35s ease-out;
	transition: transform .5s ease-out, opacity .35s ease-out, -webkit-transform .5s ease-out;
}

.header__link.translate {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.header__link.visible {
	opacity: 1;
}

.header__link a:hover, .header__link a:active, .header__link a:focus {
	color: #16d550;
}

.header__logo {
	display: block;
	width: 178px;
	height: 52px;
	margin-right: 102px;
}

.header__phone, .header__email {
	display: block;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #2f3a43;
}

.header__phone {
	margin-right: 68px;
}

.main {
	display: block;
	padding-top: 17.59vh;
	padding-left: 13.13vw;
}

.main__block {
	display: block;
}

.main__behance-logo {
	position: absolute;
	bottom: 0;
	display: block;
	width: 160px;
	height: 160px;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	opacity: 0;
	-webkit-transition: opacity .7s ease-out, -webkit-transform .9s ease-out;
	transition: opacity .7s ease-out, -webkit-transform .9s ease-out;
	-o-transition: transform .9s ease-out, opacity .7s ease-out;
	transition: transform .9s ease-out, opacity .7s ease-out;
	transition: transform .9s ease-out, opacity .7s ease-out, -webkit-transform .9s ease-out;
}

.main__behance-logo.translate {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.main__behance-logo.visible {
	opacity: 1;
}

.main-block__title {
	display: block;
	margin-bottom: 24px;
}

.main-block__subtitle {
	display: block;
	margin-bottom: 40px;
}

.main-block__wrap {
	display: block;
	height: 64px;
	max-width: 624px;
	overflow-y: hidden;
}

.main-block__wrap_subtitle {
	height: 72px;
}

.main-block__title-part {
	-webkit-transform: translateY(64px);
	-ms-transform: translateY(64px);
	transform: translateY(64px);
	opacity: 1;
	-webkit-transition: opacity .35s ease-out, -webkit-transform .5s ease-out;
	transition: opacity .35s ease-out, -webkit-transform .5s ease-out;
	-o-transition: transform .5s ease-out, opacity .35s ease-out;
	transition: transform .5s ease-out, opacity .35s ease-out;
	transition: transform .5s ease-out, opacity .35s ease-out, -webkit-transform .5s ease-out;
}

.main-block__title-part.translate {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.main-block__title-part.visible {
	opacity: 1;
}

.main-block__subtitle-part {
	-webkit-transform: translateY(72px);
	-ms-transform: translateY(72px);
	transform: translateY(72px);
	opacity: 1;
	-webkit-transition: opacity .35s ease-out, -webkit-transform .5s ease-out;
	transition: opacity .35s ease-out, -webkit-transform .5s ease-out;
	-o-transition: transform .5s ease-out, opacity .35s ease-out;
	transition: transform .5s ease-out, opacity .35s ease-out;
	transition: transform .5s ease-out, opacity .35s ease-out, -webkit-transform .5s ease-out;
}

.main-block__subtitle-part.translate {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.main-block__subtitle-part.visible {
	opacity: 1;
}

.main-block__container-wrap {
	display: block;
	width: 100%;
	margin-left: -10px;
	padding-left: 10px;
	height: 56px;
	overflow: hidden;
}

.main-block__container {
	display: block;
	width: 312px;
	height: 56px;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateY(64px);
	-ms-transform: translateY(64px);
	transform: translateY(64px);
	opacity: 0;
	-webkit-transition: opacity .35s ease-out, -webkit-transform .5s ease-out;
	transition: opacity .35s ease-out, -webkit-transform .5s ease-out;
	-o-transition: transform .5s ease-out, opacity .35s ease-out;
	transition: transform .5s ease-out, opacity .35s ease-out;
	transition: transform .5s ease-out, opacity .35s ease-out, -webkit-transform .5s ease-out;
}

.main-block__container.translate {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.main-block__container.visible {
	opacity: 1;
}

.main-block__link {
	position: relative;
	width: 312px;
	height: 56px;
	-webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.main-block__shadow {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 8px;
	display: block;
	width: 296px;
	height: 56px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 12px 27px 0 rgba(21, 163, 64, 0.52);
	box-shadow: 0 12px 27px 0 rgba(21, 163, 64, 0.52);
}

.main-block__download {
	position: relative;
	z-index: 5;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 312px;
	height: 56px;
	padding: 0 17px;
	background-color: #16d550;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.main-block__download:hover, .main-block__download:focus {
	background-color: #16d04e;
}

.main-block__download img, .main-block__download svg {
	display: block;
	width: 24px;
	height: 24px;
}

.main-block__download span {
	display: block;
	font-size: 18px;
	line-height: 1;
	font-weight: 400;
	color: #fff;
}

.behance-logo {
	position: absolute;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 160px;
	height: 160px;
	background-color: #ffffff;
}

.behance-logo svg path {
	-webkit-transition: fill .2s ease-in;
	-o-transition: fill .2s ease-in;
	transition: fill .2s ease-in;
}

.behance-logo svg:first-child {
	position: absolute;
	top: 27px;
	right: 27px;
	display: block;
	width: 9px;
	height: 9px;
}

.behance-logo svg:last-child {
	display: block;
	width: 32px;
	height: 20px;
}

.behance-logo:hover svg path {
	fill: #0057ff;
}

.aside {
	position: absolute;
	right: 0;
	top: -11.06vh;
	display: block;
	width: 31.67vw;
	height: 100%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.aside::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 21.1%;
	left: -16%;
	display: block;
	width: 970px;
	height: 970px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 300px solid #16d550;
	opacity: 0;
	-webkit-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
	-webkit-transition: opacity .5s linear, -webkit-transform 1.1s linear;
	transition: opacity .5s linear, -webkit-transform 1.1s linear;
	-o-transition: transform 1.1s linear, opacity .5s linear;
	transition: transform 1.1s linear, opacity .5s linear;
	transition: transform 1.1s linear, opacity .5s linear, -webkit-transform 1.1s linear;
}

.aside.translate::before {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.aside.visible::before {
	opacity: 1;
}

.aside__phone {
	position: absolute;
	z-index: 2;
	display: block;
	max-width: 398px;
	width: 65.46%;
	max-height: 732px;
	height: 79.57%;
	opacity: 0;
	-webkit-transition: opacity .5s linear, -webkit-transform 1.1s linear;
	transition: opacity .5s linear, -webkit-transform 1.1s linear;
	-o-transition: transform 1.1s linear, opacity .5s linear;
	transition: transform 1.1s linear, opacity .5s linear;
	transition: transform 1.1s linear, opacity .5s linear, -webkit-transform 1.1s linear;
}

.aside__phone.translate {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.aside__phone.visible {
	opacity: 1;
}

.aside__phone_krymland {
	left: 0;
	top: -19.15vh;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.aside__phone_sakropol {
	left: 0;
	top: 57.02vh;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.aside__phone_akkond {
	top: 14.26vh;
	left: 59.87%;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}

.aside__phone_smu {
	left: 59.87%;
	top: 90.21vh;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}

.aside__phone_monolit {
	left: 120.07%;
	top: 56.81vh;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	opacity: 0;
	-webkit-transition: opacity .5s linear, -webkit-transform 1.1s linear;
	transition: opacity .5s linear, -webkit-transform 1.1s linear;
	-o-transition: transform 1.1s linear, opacity .5s linear;
	transition: transform 1.1s linear, opacity .5s linear;
	transition: transform 1.1s linear, opacity .5s linear, -webkit-transform 1.1s linear;
}

.aside__phone_monolit.translate {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.aside__phone_monolit.visible {
	opacity: 1;
}

.aside__wrap {
	position: relative;
	width: 100%;
	max-width: 398px;
	height: 100%;
	max-height: 732px;
}

.aside__wrap::before {
	content: '';
	float: left;
	padding-bottom: 56.25%;
}

.aside__wrap::after {
	content: '';
	display: table;
	clear: both;
}

.aside__wrap img:first-child {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.aside__wrap img:last-child {
	position: absolute;
	z-index: 1;
	top: 2.17%;
	left: 36px;
	display: block;
	width: 75.38%;
	height: 88.66%;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}
