@import "vars"

+font-face("Muller", "#{$url-font}/Muller-ExtraBold/Muller-ExtraBold")
	font-weight: 800
+font-face("Muller", "#{$url-font}/Muller-Bold/Muller-Bold")
	font-weight: 600
+font-face("Muller", "#{$url-font}/Muller-Regular/Muller-Regular")
	font-weight: 400
