// Шрифт
$font-formats: ("eot", "woff", "ttf"); // Доступны в snippets - eot, woff2, woff, ttf, svg
$url-img: '/img';
$url-font: '/fonts';

// Переменные цветов
$ac: #16d550;
$headText: #2f3a43;
$titleText: #47525b;
$descText: #65717a;
$gradient: linear-gradient(137deg, #f5f9fa, #e2f7fb);
$behance: #0057ff;

// Высота враперов
$wrapHeight: 64px;
$wrapHeightSubtitle: 72px;

// Медиа
$md: 1279.98px;
$sm: 767.98px;
